*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 63%;
    scroll-behavior: smooth;
}

@media (max-width: 75rem){
  html {
    font-size: 58%;
  }
}

body {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}

h1, h2 {
    font-family:Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color:aqua;
}
img {
    display: block;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color:rgb(98, 98, 247);
    box-shadow: 0 2px 0 rgb(180, 175, 175);
    z-index: 10;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background-color:beige;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:cornflowerblue;
}

.welcome-section > p {
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color:darkgreen;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background-color: blue;
}
.projects-section-header {
    max-width: 650px;
    margin: 0 auto 5rem auto;
    border-bottom: 0.3rem solid black;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.p-project-title {
    background-color:#303841;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.project-img {
    height: calc(100% - 6.8rem);;
    width: 100%;
    margin: 0;
    object-fit: cover;
}

.project-tile {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80hv;
    padding: 0 2rem;
    background-color:darkgrey;
}

.contact-section-hearder > h2{
    font-size: 5rem;
}

.contact-links {
    display: iinline-block;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
.contact-details {
    font-size: 2.4rem;
    text-shadow: 2 px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}